<% if current_user and current_user != collectable.user %>
  <li>
    <% collected = is_collected? current_user, collectable %>
    <%=
      link_to fa_icon('star', text: t('collection.cancel')),
      [ collectable, :uncollect ],
      remote: true, id: "uncollect-#{class_escape collectable}",
      style: "display: #{collected ? 'block' : 'none'}"
    %>
    <%=
      link_to fa_icon('star-o', text: t('collection.collect')),
      [ collectable, :collect ],
      remote: true, id: "collect-#{class_escape collectable}",
      style: "display: #{collected ? 'none' : 'block'}"
    %>
  </li>
<% end %>
