<div id='content-manage-organization' class='col-md-10 col-sm-11 content'>
  <div class='row'>
    <div id='block-organization-number' class='col-md-4 block'>
      <%= link_to "当前的机构数：#{Organization.all.size}", organizations_path %>
    </div>
  </div>
</div>