<div id='content-manage-user' class='col-md-10 col-sm-11 content'>
  <div class='row'>
    <div id='block-user-number' class='col-md-4 block'>
      <%= link_to "当前的用户数：#{User.all.size}", users_path %>
    </div>
  </div>
</div>