<div class='col-md-2 col-sm-1 sidebar'>
  <ul>
  	<li id='menu-manage-user'>
  		<span id='menu-icon'><%= fa_icon('user') %></span>
  		<span id='menu-text'> <%= t('dashboard.user') %></span>
  	</li>
  	<li id='menu-manage-organization'>
  		<span id='menu-icon'><%= fa_icon('institution') %></span>
  		<span id='menu-text'> <%= t('dashboard.organization') %></span>
  	</li>
  </ul>
</div>