<%= render 'dashboard/sidenav' %>

<% content_for :center_column do %>
  <div class='panel panel-default'>
    <div class='panel-body narrow-padding'>
      <%= render html: control_buttons('group').html_safe %>
      <%= render html: table_list('group', @groups, [:name, :members_count]).html_safe %>
    </div>
  </div>
<% end %>
