<%= render 'dashboard/sidenav' %>

<% content_for :center_column do %>
  <div class='panel panel-default'>
    <div class='panel-body narrow-padding'>
      <%= render inline: search_fields('topic',
          { name: 'title', term: 'cont' }
        ) %>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-body narrow-padding'>
      <%= render html: control_buttons('topic').html_safe %>
      <%= render html: table_list('topic', @topics, [:title]).html_safe %>
    </div>
  </div>
<% end %>
