  <td><%= link_to membership.user.name, membership.user %></td>
  <td><%= membership.role.text %></td>
  <td><%= membership.status.text %></td>
  <td>
    <ul class='horizontal-clean-list'>
      <li>
        <%= link_to t('action.edit'), edit_membership_path(membership), remote: true, class: 'btn btn-danger btn-xs'  %>
      </li>
    </ul>

  </td>