<% content_for :title, t('action.edit')+t('activerecord.models.group') %>

<% content_for :center_column do %>


  <div class="row">
    <div id="invite_memberships" class="col-md-9 pull-right">
      <%= render 'memberships/invite_button', host: @host %>
    </div>
    <div class="col-md-3">
      <%= render 'groups/group_left', group: @host %>
    </div>
    <div class="col-md-9 col-md-offset-3">
      <%=  render 'memberships/list', memberships: @memberships %>
    </div>
  </div>


<% end %>
