<% comment = @commentable.comments.last %>
$('#comment-placeholder').before("<li id='comment-<%= comment.id %>'><%= j render partial: 'comments/show', locals: { app: @app, comment: comment } %></li>");

$('li#comment-<%= @comment.id %> .markdown').each(function () {
  markdown($(this).html(), $(this));
});

$('li#new-comment').html("<%=
  j render partial: 'comments/form',
  locals: { app: @app, commentable: @commentable, comment: @commentable.comments.new }
%>");
