<div class='panel panel-default box-shadow'>
  <div class='panel-body'>
    <% if not @group.description or @group.description.empty? %>
      <div class='horizontal-centered'>管理员很懒，什么也没有写！</div>
    <% else %>
      <%= raw @group.description.html_safe %>
    <% end %>
  </div>
</div>
