<% content_for :title, t('action.edit')+t('activerecord.models.group') %>

<% content_for :center_column do %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'groups/group_left', group: @group %>
    </div>
    <div class="col-md-9">
      <div id="group_node_list">
        <%= render 'nodes/index' %>
      </div>

      <%= link_to t('action.add'), new_group_node_path(@group), remote: true, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>


