<%= simple_form_for folder, remote: true do |f| %>
  <% [ :parent_id, :folderable_type, :folderable_id ].each do |attribute| %>
    <%= f.hidden_field attribute %>
  <% end %>
  <%= f.input :name %>
  <div class='center'>
    <%= f.button :submit, t('action.submit'), class: 'button' %>
  </div>
<% end %>
