<ul class='publications'>
  <% publications.each do |p| %>
    <li><a href='<%= reference_path(p.reference) %>'>
      <%= render inline: citation(p.reference).gsub(p.matched_author, "<b>#{p.matched_author}</b>") %>
    </a></li>
  <% end %>
</ul>
