<ul class='publications'>
  <% publications.each do |publication| %>
    <li><a href='<%= reference_path(publication.reference) %>'>
      <%= render inline: citation(publication.reference).gsub(publication.matched_author, "<b>#{publication.matched_author}</b>") %>
    </a></li>
  <% end %>
</ul>
