<% content_for :title, t('activerecord.models.article') %>
<% add_breadcrumb t('activerecord.models.article'), articles_path %>

<% content_for :main_block do %>
  <%= form_for articles_path,method: :get do %>
    <div class="row">

      <div class="col-lg-6">
        <div class="input-group">

          <%= text_field_tag :q, params[:q], placeholder: "Search ...", autocomplete: "off", class: "form-control" %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  <% end %>

  <%= render 'articles/table_list', articles: @articles %>
  <div class="text-center">
    <%= paginate @articles %>
  </div>
<% end %>
