<% content_for :center_column do %>

  <h1>Editing Topic</h1>

<%= render 'form' %>

  <td><%= link_to 'Show', group_topic_path(@group, @topic) %></td>
  <td><%= link_to 'Edit', edit_group_topic_path(@group, @topic) %></td>
  <td><%= link_to 'Destroy', group_topic_path(@group, @topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
