<% content_for :title, t('research_team.profile') %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <h1><%= t('organization.description') %></h1>
  <p><%= @research_team.description %></p>
<% end %>