selectedFolders = $('#resource-board-table tr[id^=folder].selected');
selectedResources = $('#resource-board-table tr[id^=resource].selected');

// 重置文件夹列表。
$('div#move-files-container').replaceWith("<div id='move-files-container'></div>");
// 换上新的文件夹列表。
$('div#move-files-container').jstree({
  'core': {
    'data': <%= raw get_folder_tree(@folderable.folders.first, @folders).to_json %>,
    'themes': {
      'dots': false
    }
  }
});
$('div#move-files-container').on('changed.jstree', function(e, data) {
  node = data.instance.get_node(data.selected[0]);
  // jstree的文档打不开，我不知道怎么在下面的click中访问到被选择的文件夹，只能在这里将被选择
  // 的文件夹ID记录到button中。
  $('button#move-files').data('selected-folder-id', node.id);
});
$('button#move-files').click(function() {
  folderableType = $('div#resource-board').data('folderable-type');
  folderableID = $('div#resource-board').data('folderable-id');
  if ($(this).data('selected-folder-id')) {
    targetFolderID = $(this).data('selected-folder-id');
    $('div#move-files').modal('hide');
    selectedFolders.each(function() {
      id = $(this).attr('id');
      url = $('a#' + id + '-update').attr('href');
      $('a#' + id + '-update').attr('href',
        url + '?parent_id=' + targetFolderID +
        '&folderable_type=' + folderableType +
        '&folderable_id=' + folderableID
      ).trigger('click');
    });
    selectedResources.each(function() {
      id = $(this).attr('id');
      url = $('a#' + id + '-update').attr('href');
      $('a#' + id + '-update').attr('href',
        url + '?folder_id=' + targetFolderID +
        '&folderable_type=' + folderableType +
        '&folderable_id=' + folderableID
      ).trigger('click');
    });
  } else {
    alert('You did not select a folder!');
  }
});
$('div#move-files').modal();
