<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">群组管理</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">修改群组信息</li>

    <li class="list-group-item">
      <%= link_to group_nodes_path(group) do %>修改节点信息<% end %>
    </li>
    <li class="list-group-item">群组成员管理</li>
    <li class="list-group-item">群组话题管理</li>
  </ul>
</div>