<%#= TODO '获取当前用户加入通过的群组,并且根据某种规则展示多个个群组' %>
<% if current_user %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">我加入的群组</h3>
    </div>
    <div class="panel-body">
      <% Group.all.each do |group| %>
        <%= render 'groups/group', group: group %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">推荐群组</h3>
    </div>
    <div class="panel-body">
      <% Group.all.each do |group| %>
        <%= render 'groups/group', group: group %>
      <% end %>
    </div>
  </div>

<% end %>