<!--管理群组的左边栏-->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">群组管理</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to edit_group_path(group) do %>修改群组信息<% end %></li>

    <li class="list-group-item">
      <%= link_to group_nodes_path(group) do %>修改节点信息<% end %>
    </li>
    <li class="list-group-item"><%= link_to group_topics_path(group) do %>修改话题信息<% end %></li>
    <li class="list-group-item"><%= link_to group_memberships_path(group) do %>群组成员<% end %></li>
  </ul>
</div>