<ul class="left-side-list">
  <li><%= @group.name %></li>
  <li><%= Group::PrivacyTypes[@group.privacy] %></li>
  <li><%= t('global.create_time')+': '+@group.created_at.to_s %></li>
  <li><%= link_to fa_icon('edit', text: t('group.edit')), edit_group_path(@group) %></li>
</ul>
