<!-- 群组信息流 -->
<% content_for :center_column do %>
  <h2>posts</h2>
  <% @posts.each do |post| %>
    <%= post.postable.id %>
    <%= post.postable.title %>
    <br/>
  <% end  %>
  <h2>topics</h2>
  <% @topics.each do |topic| %>
    <%= topic.title %>  <br/>
  <% end %>
<% end %>
