<% content_for :title, t('activerecord.models.group') %>

<% content_for :center_column do %>


  <div class="col-md-9">
    <h4>浏览群组</h4>
  </div>

  <div class="col-md-3">
    <%= link_to new_group_path do  %>
      <button type="button" class="btn btn-info">新建群组</button>
    <% end %>
  </div>

  <hr/>
  <% @groups.each do |group| %>
    <div class="col-md-4">
      <%= render 'groups/group', group: group %>
    </div>
  <% end %>

  <%= paginate @groups %>

<% end %>

<% content_for :right_column do %>
  <%= render 'groups/group_right' %>
<% end %>
