<% content_for :title, t('activerecord.models.group') %>

<% content_for :center_column do %>
  <div class="alert alert-info" role="alert">
    在这里添加群组检索功能。
  </div>
  <%= render 'block_list', groups: Group.all %>
<% end %>

<% content_for :right_column do %>
  <div class='panel panel-default'>
    <div class='panel-body center'>
      <%= render 'block_list', groups: @groups, only_logo: true %>
      <% if policy(Group).create? %>
        <%= link_to fa_icon('plus-square-o', text: t('action.add')), new_group_path %>
      <% end %>
    </div>
  </div>
<% end %>
