<% content_for :title, t('activerecord.models.group') %>

<% content_for :main_block do %>
  <div class="alert alert-info" role="alert">
    在这里添加群组检索功能。
  </div>
  <% if current_user %>
    <dl>
      <dt>您的群组</dt>
      <dd>
        <%= render 'table_list', groups: current_user.groups %>
      </dd>
    </dl>
  <% end %>
  <% if policy(Group).create? %>
    <div class='center'>
      <%= link_to t('action.add'), new_group_path, class: 'button' %>
    </div>
  <% end %>
<% end %>
