<!--群组信息展示页面-->
<% content_for :title, @group.name %>
<% add_breadcrumb @group.short_name, @group %>

<% content_for :center_column do %>
  <div class="row">
      <ul class="nav nav-pills row">
        <li class="active col-md-4 text-center"><a href="#fakelink">话题</a></li>
        <li class="col-md-3 text-center"><a href="#fakelink">资源</a></li>
        <li class="col-md-4 text-center"><a href="#fakelink">文件</a></li>
      </ul>
    </div>
  <% if false and policy(@group).update? %>
    <%=
      render 'layouts/navtab',
      tabs: {
        info: [ t('tab.info'), render('info') ],
        members: [ t('tab.members'), render('members') ],
        resources: [
          t('activerecord.models.resource'),
          render('resource_board/show', folderable: @group)
        ],
        admin: [ t('tab.admin'), render('admin') ]
      }
    %>
  <% elsif false %>
    <%=
      render 'layouts/navtab',
      tabs: {
        info: [ t('tab.info'), render('info') ],
        members: [ t('tab.members'), render('members') ],
        resources: [
          t('activerecord.models.resource'),
          render('resource_board/show', folderable: @group)
        ]
      }
    %>
  <% end %>
<% end %>

<% content_for :right_column do %>
  <%= render 'groups/group_right' %>
<% end %>
