<% content_for :title, t('action.edit')+t('user.password') %>

<% content_for :main_block do %>
  <div class='devise-form'>
    <%= simple_form_for @user do |f| %>
      <%=
        f.input :password,
        label: false,
        required: false,
        placeholder: t('user.password')+' | '+t('user.password_hint')
      %>
      <%=
        f.input :password_confirmation,
        label: false,
        required: false,
        placeholder: t('user.password_confirmation_hint')
      %>
      <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
    <% end %>
  </div>
<% end %>
