<% content_for :title, t('activerecord.models.profile') %>
<% add_breadcrumb t('activerecord.models.profile'), @user, on_nav_bar: true %>

<% content_for :left_column do %>
  <%= render 'profile_left' %>
  <div class='panel panel-default'>
    <div class='panel-body center' style='height: 200px;'>
      事件提醒
    </div>
  </div>
<% end %>

<% content_for :center_column do %>
  <%=
    render 'layouts/navtab',
    tabs: {
      columns: [
        t('user.columns'),
        render('articles', user: @user)
      ],
      publications: [
        t('user.publications'),
        render('publications', user: @user)
      ],
      collections: [
        t('collection'),
        render('collections', user: @user)
      ],
      resources: [
        t('activerecord.models.resource'),
        render('resource_board/show', folderable: @user)
      ]
    }
  %>
<% end %>
