<div class='features'>
  <div class='feature-summary'>
    Scrinium是一个科研信息管理平台。该平台负责规范化地管理科研工作中产生的大量信息。<br/>针对不同的科研机构或大学院系，Scrinium可以给出专门化的定制服务，最大限度地满足科研人员的需求。
  </div>
  <div class='feature-logos'>
    <dl>
      <dt>主要特性</dt>
      <dl>
        <div class='row'>
          <div class='col-md-4 well feature-logo'>
            1
          </div>
          <div class='col-md-4 well feature-logo'>
            2
          </div>
          <div class='col-md-4 well feature-logo'>
            3
          </div>
          <div class='col-md-4 well feature-logo'>
            4
          </div>
          <div class='col-md-4 well feature-logo'>
            5
          </div>
          <div class='col-md-4 well feature-logo'>
            6
          </div>
          <div class='col-md-4 well feature-logo'>
            7
          </div>
          <div class='col-md-4 well feature-logo'>
            8
          </div>
          <div class='col-md-4 well feature-logo'>
            9
          </div>
        </div>
      </dl>
    </dl>
  </div>
</div>
