<div class='front'>
  <ul class='clean-list'>
    <li class='large-spacing'><%= image_tag 'logos/scrinium_logo.png' %></li>
    <li class='large-spacing' style='font-weight: bold; font-size: 200%'>S<span style='font-size: 80%'>CRINIUM</span></li>
    <li><%= image_tag 'slogan.png' %></li>
    <li class='large-spacing' style='font-weight: bold; font-size: 150%'>您的科研实验室</li>
    <% if not current_user %>
      <li class='large-spacing'>
        <%= link_to '注册', new_user_registration_path, class: 'button btn-danger' %>
        <%= link_to '登录', new_user_session_path, class: 'button btn-success' %>
      </li>
    <% end %>
  </ul>
</div>
