<div class='functions'>
  <div class='row'>
    <div class='col-md-4 function-block-1'>
      <ul class='clean-list'>
        <li class='function-title'>科研管理</li>
        <li class='function-content'>优化配置的</li>
        <li class='function-content'>个人互联网应用</li>
      </ul>
    </div>
    <div class='col-md-4 function-block-1'>
      <ul class='clean-list'>
        <li class='function-title'>学术交流</li>
        <li class='function-content'>连接线上线下的</li>
        <li class='function-content'>学术讨论与工作组织</li>
      </ul>
    </div>
    <div class='col-md-4 function-block-2'>
      <ul class='clean-list'>
        <li class='function-title'>学研动态</li>
        <li class='function-content'>关注掌握</li>
        <li class='function-content'>实时科研动态</li>
      </ul>
    </div>
  </div>
</div>
