<div class='row'>
  <div class='col-md-7 col-sm-6'>
    <dl>
      <dt>简介</dt>
      <dd>
        Scrinium是一个科研信息管理平台。该平台负责规范化地管理科研工作中产生的大量 信息。针对不同的科研机构或大学院系，Scrinium可以给出专门化的定制服务，最大限度地满足科研人员的需求。目前包括的功能：
        <ul>
          <li>研究机构、研究组、研究人员基本信息管理</li>
          <li>科研记录管理</li>
          <li>群组管理</li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class='col-md-5 col-sm-6'>
    <%= image_tag 'mad_scientist_big.png', width: '300' %>
  </div>
</div>