<div class='row'>
  <div class='col-md-12'>
    <div class='alert alert-danger' role='alert'>
      目前Scrinium处于活跃的开发阶段，数据库可能被重置，因此请不要存放重要的内容，仅仅作为测试使用。十分您的关注！
    </div>
  </div>
  <div class='col-md-7 col-sm-12'>
    <dl>
      <dt>简介</dt>
      <dd>
        Scrinium是一个科研信息管理平台。该平台负责规范化地管理科研工作中产生的大量信息。针对不同的科研机构或大学院系，Scrinium可以给出专门化的定制服务，最大限度地满足科研人员的需求。目前包括的功能：
        <ul>
          <li>研究机构、研究组、研究人员基本信息管理</li>
          <li>科研记录管理，一种类似博客，但是专注科学研究的内容管理，支持公式编辑（LaTeX），未来还将支持文献索引。另外还可以选择记录的公开度</li>
          <li>可以自由创建群组（如课题组），方便组内交流（如记录可以选择只有组内可见）</li>
          <li>地球系统模式管理（模式元信息录入）</li>
          <li>模式试验管理（试验元信息录入）</li>
        </ul>
        正在做的功能：
        <ul>
          <li>地球系统模式程序的版本管理</li>
          <li>自动化诊断分析模式模拟结果</li>
          <li>数据管理，规范化地管理数据元信息，避免重复下载数据，节省大量磁盘空间，并提供在线绘图功能</li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class='col-md-5 hidden-sm hidden-xs'>
    <%= image_tag 'mad_scientist_big.png' %>
  </div>
</div>
