<section class="content-10">
  <div class="container">
    <h3>关于我们</h3>
    <p>
      我们来自于科研领域，了解科研人员的实际需求。我们希望通过现代的互联网技术，专业到位地解决这些需求，并且以优雅的方式解决，提高科研工作效率，为科研带来一股清风和不一样的感受！
    </p>
    <p>
      SCRINIUM意为装卷轴的圆筒，因此本平台希望成为科学知识的载体，成为广大科研人员共享和传承知识的媒介。
    </p>
  </div>
</section>
