<div class="row">
  <div id="sidebar" class="col-xs-3">
    <p>
      This is the sidebar.
    </p>
  </div>
  <div id="content" class="col-xs-9">
    <p>
      This is the content.
    </p>
  </div>
</div>
