$('li#notification-<%= @notification.id %>').remove();
if ('<%= @action %>' === 'trash') {
  $('ul#trashed-notification-list').prepend(
  "<li id='notification-<%= @notification.id %>'>" +
  "  <%= j render partial: 'notification', locals: { notification: @notification } %>" +
  "</li>");
  expand_notification();
}
