$('li#message-<%= @message.id %>').remove();
if ('<%= @action %>' === 'trash') {
  $('ul#trashed-message-list').prepend(
  "<li id='message-<%= @message.id %>'>" +
  "  <%= j render partial: 'message', locals: { message: @message } %>" +
  "</li>");
  expand_message();
}
