<div class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner">
    <div class="page-top">
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <li class="separator hide">
          </li>
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<span class="username username-hide-on-mobile">
              <%= current_user.name %>
						 </span>
              <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
              <%= image_tag current_user.avatar, class: "img-circle" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <a href="page_calendar.html">
                  <i class="icon-calendar"></i> My Calendar </a>
              </li>

            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->

        </ul>
      </div>
    </div>
  </div>
</div>