<div class="page-sidebar navbar-collapse collapse">

  <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-auto-scroll="true" data-keep-expanded="true">
    <li class="heading">
      <h3>管理列表</h3>
    </li>

    <li>
      <a href="javascript:;">
        <i class="icon-diamond"></i>
        <span class="title">用户管理</span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="ui_general.html">
            用户列表</a>
        </li>


      </ul>

    <li>
      <a href="javascript:;">
        <i class="icon-diamond"></i>
        <span class="title">机构管理</span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="ui_general.html">
            机构列表</a>
        </li>



      </ul>
    </li>
  </ul>
</div>
