<%= render 'breadcrumb' %>
<div class="portlet light box green">
  <%= render "portlet_title" %>
  <div class="portlet-body form">
    <%= render 'form', permitted_attributes: permitted_attributes %>
  </div>
</div>
