<% content_for :title, '文献库' %>
<% add_breadcrumb t('library'), library_index_path, on_nav_bar: true %>

<% content_for :center_column do %>
  <div class="alert alert-info" role="alert">
    在这里添加文献检索功能。
  </div>
  <dl>
    <dt><%= t('activerecord.models.reference') %></dt>
    <dd>
      <%= render 'references/table_list', references: Reference.all %>
    </dd>
  </dl>
<% end %>
