<fieldset class='experience-action-field'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class="form-inputs">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.input :content, label: false %>
        <%= link_to t('action.delete'), '#', class: 'btn btn-default pull-right remove_field' %>
      </div>
    </div>
  </div>
</div>
