<li><%= question.content %></li>
<% case question.question_type %>
<% when t('question.question_types.single_line'), t('question.question_types.multiple_lines') %>
  <%= answer.content if defined? answer %>
<% when t('question.question_types.single_option'), t('question.question_types.multiple_options') %>
  <% question.answers.zip(('A'..'Z')).each do |a, b| %>
    <% matched = ( defined? answer and answer.content.split('____').include? a.content ) %>
    <% if matched == true %>
      <span class='red'>
    <% end %>
    <%= "#{b}. #{a.content}" %><br>
    <% if matched == true %>
      </span>
    <% end %>
  <% end %>
<% end %>
