/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require select2
 *= require dropzone/dropzone
 *= require bootstrap-datepicker3
 *= require jasny-bootstrap.min
 *= require cropper/cropper.min
 *= require jstree-default
 *= require froala_editor/froala_editor_require
 *= require application/custom
 *= require startup/css/flat-ui
 *= require common
 *= require_self
 */

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #ffffff
}

p {
  font-size: 15px;
}

.navbar-default .navbar-brand {
  color: #34495e;
  font-size: 23px;
}

.navbar-default .navbar-nav > li > a {
  color: #34495e;
}

#main-container {
  margin-top: 70px;
  margin-bottom: 70px;
}

a {
  cursor: pointer;
}

a:hover {
  background-color: inherit;
  text-decoration: none;
}

.clickable-row {
  cursor: pointer;
}

ul.clean-list {
  padding: 0;
  list-style-type: none;
}

ul.spacing-1-em {
  li {
    margin-top: 1em;
  }
}

dl {
  dt {
    border-bottom: solid 1px #EEE;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 150%;
    text-align: center;
  }
  dd {
    margin: 1em;
  }
}

dl.small {
  @extend dl;
  dt {
    font-size: 120%;
  }
}

dl.clean {
  @extend dl;
  dt {
    border-bottom: none;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

img.avatar {
  border-radius: 100px;
}

img.logo {
  border-radius: 10px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.resizable {
  width: 100%;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

table th, table td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  table-layout: fixed;
}

.select {
  display: block;
  margin-bottom: 5px;
}

.select2-container--default .select2-selection--multiple {
  border: 2px solid rgb(189, 195, 199);
}

.select2-container--bootstrap .select2-selection {
  border: 2px solid rgb(189, 195, 199);
  height: 42px;
}

.form-group {
  margin-bottom: 10px;
}
