/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require select2
 *= require highlightjs
 *= require_self
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  background-color: #EEF1F4;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  margin-top: 1em;
  padding: 1em;
  border-top: 2px solid #000;
  text-align: center;
}

.left-side {
  margin: 2em;
}

.main-block {
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  text-align: justify;
  text-justify: inter-word;
}

a {
  cursor: pointer;
}

a:hover {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

ul.clean-list {
  padding: 0;
  list-style-type: none;
}

ul.left-side-list {
  @extend ul.clean-list;
  margin: 0px;
  li {
    margin-top: 1em;
  }
}

ul.tag-cloud {
  @extend ul.clean-list;
  li {
    display: inline-block;
  }
}

dl {
  dt {
    border-bottom: solid 1px #EEE;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 150%;
    text-align: center;
  }
  dd {
    margin: 1em;
  }
}

dl.small {
  @extend dl;
  dt {
    font-size: 120%;
  }
}

ul.left-side-list {
  li.indent {
    padding-left: 1em;
  }
}

.no-bottom-margin {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

img.avatar
img.logo {
  border-radius: 10px;
}
