.with-background {
  background: image-url('front_background.png');
}

// 页首部分
.front {
  text-align: center;
}

.large-spacing {
  margin-top: 2em;
}

// 功能部分
.functions {
  text-align: center;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 2em;
}

.function-block-1 {
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: #F1F1F1;
}

.function-block-2 {
}

.function-title {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 2em;
}

.function-content {
  font-size: 120%;
}

.function-logo {
  margin-top: 2em;
}

// 特性部分
.features {
  text-align: center;
}

.feature-summary {
  font-size: 120%;
  margin-top: 2em;
  border-top-style: solid;
  margin-left: 10em;
  margin-right: 10em;
  padding-top: 2em;
}

.feature-logos {
  margin-left: 10em;
  margin-right: 10em;
  .feature-logo {
    padding: 1em;
  }
}

.feature-words {
  margin-top: 2em;
  font-size: 120%;
}
