/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require plugins/flat-ui/css/flat-ui-pro.css
 *= require commen_style.css
 */

//html, body {
//  height:100%;
//}
//body {
//  color:#666;
//  background-color:#fff;
//  font-family:'Open Sans',Arial,Helvetica,sans-serif;
//  -webkit-font-smoothing: antialiased;
//
//  font-size:14px; line-height:1.5;
//  margin:0; padding:0;
//}
/** Boxed
 **************************************************************** **/
body.boxed {
  background-color:#f1f2f7;
}
body.boxed section {
  background-color:#fff;
}
body.boxed #wrapper {
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-5px;
  margin-bottom:50px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@media only screen and (max-width: 992px) {
  body.boxed #wrapper {
    margin-top:0;
    margin-bottom:0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

