// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.organization-form {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  textarea.text {
    height: 200px;
  }
}

.organization-profile {
  .name {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}