.organization-form {
  max-width: 60%;
  margin: 0 auto;
  #preview-avatar {
    border: solid;
    border-width: 2px;
    border-radius: 10px;
  }
  textarea.text {
    height: 200px;
  }
}

ul.suborganizations {
  list-style-type: none;
}
