// Place all the styles related to the research_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'customized_bootstrap';

.research-record-form {
  padding-top: 30px;
  max-width: 100%;
  margin: 0 auto;
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  textarea.text {
    height: 200px;
  }
}

table.research-records {
  border-collapse: collapse;
  tr.research-record-draft {
    background-color: rgba(203, 35, 46, 0.50);
    color: yellow;
    a {
      color: yellow;
    }
  }
}

ul.versions {
  list-style-type: none;
}
