// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resource-form {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  textarea.text {
    height: 200px;
  }
}

.dropzone {
  border-radius: 10px;
}

#resource-preview {
  display: none;
}
