//= require startup/css/bootstrap
//= require startup/css/flat-ui
//= require common

html body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.devise-form {
  font-size: 15px;
  width: 300px;
  margin: 0 auto;
  #user_remember_me {
    margin-left: 0;
  }
}
