// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise-form {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
  #preview-avatar {
    border: solid;
    border-width: 2px;
    border-radius: 10px;
  }
  #upload-avatar {
    padding-bottom: 1em;
  }
  #user_remember_me {
    margin-left: 0;
  }
}

.user-profile {
  .name {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .affiliation {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .position {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .role {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .join_time {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

img#preview-avatar {
  border-radius: 10px;
}

a#reset-password {
  cursor: pointer;
}

a.thumbnail {
  border-style: none;
}
