<div class='row'>
  <% if policy(Organization).create? and add_logo %>
    <div class='col-md-2 col-sm-3 col-xs-4'>
      <a href='<%= new_organization_path %>'>
        <%= image_tag 'medium/add_icon.png', class: 'img-responsive center-block' %>
      </a>
    </div>
  <% end %>
  <% organizations.each do |organization| %>
    <div class='col-md-2 col-sm-3 col-xs-4'>
      <a href='<%= organization_path(organization) %>'>
        <%= logo organization, class: 'img-responsive center-block' %>
      </a>
    </div>
  <% end %>
</div>
