<div class='row'>
  <% organizations.each do |organization| %>
    <div class='col-md-3 col-sm-4 col-xs-6'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <a href='<%= organization_path(organization) %>'>
            <%= logo organization, size: :medium, class: 'img-responsive center-block' %>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
