<div class='organization-profile'>
  <% set_current_organization @organization.id %>
  <div class='name'>
    <%= @organization.name %>
  </div>
  <% if current_user and current_user.admin? %>
    <%= link_to fa_icon('edit', text: t('global.edit')), edit_organization_path(@organization) %><br/>
  <% end %>
  <% if current_user and current_user.super_admin? %>
    <%= link_to fa_icon('plus-square', text: t('organization.create_research_team')), new_research_team_path %><br/>
  <% end %>
  <%= fa_icon('users', text: t('organization.people_number'))+': '+@organization.users.size.to_s %>
</div>