// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-form {
  padding-top: 30px;
  max-width: 100%;
  margin: 0 auto;
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  textarea.text {
    height: 200px;
  }
}

div.tab-pane {
  padding-top: 1em;
}

ul.versions {
  list-style-type: none;
}

.added-text {
  background-color: rgb(222, 250, 221);
  margin: 0px;
}

.removed-text {
  background-color: rgb(254, 231, 231);
}

.fr-dib {
  border-radius: 5px;
}
