// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.comment-list {
  padding: 0;
  list-style-type: none;
}

.comment-content {
  max-width: 100%
}

div.popover {
  max-width: 100%;
}
