// Place all the styles related to the mailbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
  border: none;
  vertical-align: middle;
}

.table-zero-bottom-margin {
  margin-bottom: 0;
}

textarea#body {
  width: 100%;
  height: 300px;
  resize: none;
  border: none;
  margin-bottom: 1em;
}
