.membership-card {
  padding-top: 30px;
  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 992px) {
    width: 50%;
  }
  margin: 0 auto;
  #reject-form-placeholder {
    margin-top: 1em;
    textarea {
      max-width: 100%;
      min-height: 100px;
    }
  }
}
