.resource-board-actions {
  text-align: right;
  width: 100%;
}

#resource-board-table {
  tr.selected {
    background-color: #D9EEF6;
  }
}

ul.resource-board-file-actions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  li {
    margin-right: 1em;
    display: inline-block;
  }
}
