// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise-form {
  max-width: 320px;
  margin: 0 auto;
  #upload-avatar {
    padding-bottom: 1em;
  }
  #user_remember_me {
    margin-left: 0;
  }
}

.user-profile {
  .name {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .affiliation {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .position {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .role {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .join_time {
    color: #999;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

a.thumbnail {
  border-style: none;
}

.select2-users { padding-top: 4px; padding-bottom: 3px; }
.select2-users-avatar { float: left; width: 60px; margin-right: 10px; }
.select2-users-avatar img { width: 100%; height: auto; border-radius: 2px; }
.select2-users-name { margin-left: 70px; color: black; font-weight: bold;}
.select2-users-email {  word-wrap: break-word; line-height: 1.1; margin-top: 2px; }
