<% if not breadcrumbs.empty? %>
  <div class='row'>
    <div class='col-md-12'>
      <ol class='breadcrumb'>
        <% breadcrumbs.each do |breadcrumb| %>
          <li><%= link_to breadcrumb[:title], breadcrumb[:url] %></li>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>
