<div class='main-block'>
    <div class='row'>
      <% if content_for :left_side %>
        <div class='col-sm-12 col-md-9'>
      <% else %>
        <div class='col-sm-12'>
      <% end %>
        <%= yield :main_block %>
      </div>
    </div>
</div>
