<div class='fileinput fileinput-new input-group' data-provides='fileinput'>
  <div class='form-control' data-trigger='fileinput' style='text-align: left;'>
    <i class='fa fa-file-o fileinput-exists'></i>
    <span class='fileinput-filename'></span>
  </div>
  <span class='input-group-addon btn btn-default btn-file'>
    <span class='fileinput-new'>
      <%= t("action.select_#{file_attribute_name}") %>
    </span>
    <span class='fileinput-exists'>
      <%= t("action.change_#{file_attribute_name}") %>
    </span>
    <%= form.file_field file_attribute_name %>
  </span>
  <a href='#' class='input-group-addon btn btn-default fileinput-exists' data-dismiss='fileinput'>
    <%= t("action.delete_#{file_attribute_name}") %>
  </a>
</div>
