<% if current_user and current_user.user? %>
  <div id='user-console' class='user-console'>
    <%= fa_icon('rocket 2x', id: 'user-console-icon') %>
    <div class='row' id='user-console-items'>
      <div class='col-md-12'>
        <%= link_to fa_icon('dashboard', text: t('global.dashboard')), dashboard_index_path %>
      </div>
      <div class='col-md-12'>
        <%= link_to fa_icon('plus-square', text: '添加科研记录'), new_research_record_path %>
      </div>
    </div>
  </div>
<% end %>